body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #111111;
    font-size: 18px;
    background: #F7F7F7;
    letter-spacing: 0.01em;
}
*{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
img{
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    transition: .3s;
    color: #000;
}
a:hover{
    transition: .3s;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
button, input, textarea{
    outline: none;
    border: none;
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: transparent;
    font-weight: 400;
	color: #fff;
}
input, textarea{
    border-radius: 0;
}
button{
    transition: .3s;
}
button:hover{
    transition: .3s;
}
p{
    margin: 0;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
section{
    padding: 150px 0 0 0;
}
.cta{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: -0.02em;
    color: #81C04F;
    padding: 19px 48px;
    border: 2px solid #81C04F;
}
.cta:hover{
    background: #81C04F;
    color: #fff;
}
.cta_green{
    color: #FFFFFF;
    background: #81C04F;
}
.cta_green:hover{
    opacity: 0.75;
}
.cta_grey{
    color: #FFFFFF;
    background: #A8A8A8;
    border-color: #A8A8A8;
}
.cta_grey:hover{
    opacity: 0.75;
    background: #A8A8A8;
    border-color: #A8A8A8;
}
.commont-title-h2{
    font-weight: 600;
    font-size: 45px;
    line-height: 1.4em;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 40px;
    border-bottom: 2px solid rgba(0,0,0,0.6);
    margin-bottom: 40px;
}
.page-title{
    padding: 70px 0;
}
.page-title-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.page-title__h1{
    font-weight: 600;
    font-size: 45px;
    line-height: 1.38em;
    text-transform: uppercase;
    color: #000000;
}
.page-title__description{
    font-weight: 500;
    font-size: 22px;
    line-height: 1.4em;
    letter-spacing: 0.01em;
    color: #000000;
    max-width: 632px;
}
.round-btn{
    width: 59px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid rgba(0,0,0,0.6);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.company-slider-arrow:not(:last-of-type){
    margin-right: 39px;
}
.round-btn_prev::after{
    transform: rotate(180deg);
}
.round-btn::after{
    content: "";
    background: url("../img/icons/slider-arrow.svg") no-repeat center center/contain;
    width: 22px;
    height: 29px;
    opacity: 0.6;
    transition: .3s;
    position: relative;
    z-index: 1;
}
.round-btn::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background: #81C04F;
    border-radius: 50%;
    top: 50%;
    z-index: 0;
    transition: .5s;
    transform: translate(0, -50%);
}
.round-btn_next::before{
    left: 0;
}
.round-btn_prev::before{
    right: 0;
}
.round-btn:hover::after{
    opacity: 1;
    transition: .3s;
}
.round-btn:hover::before{
    width: 100%;
    height: 100%;
    transition: .5s;
}
.page-title-wrapper_career .page-title__description{
    display: flex;
    max-width: 720px;
}
.page-title-wrapper_career .page-title-p{
    max-width: 340px;
    width: 340px;
}
.page-title-wrapper_career .page-title-p:not(:last-of-type){
    margin-right: 40px;
}
.button-apply{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.29em;
    letter-spacing: 0.005em;
    padding-bottom: 3px;
    position: relative;
}
.green-animated-arrow{
    width: 22px;
    height: 22px;
    background: #81C04F;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: calc(100% + 15px);
    transform: translate(0, -50%);
}
.green-animated-arrow::after{
    content: "";
    height: 12px;
    width: 16px;
    background: url("../img/icons/arrow-right-btn.svg") no-repeat center center/contain;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: -3px;
    transition: .3s;
}
.button-apply::before{
    content: "";
    position: absolute;
    height: 1px;
    background: #81C04F;
    width: 0%;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: .3s;
}
.button-apply:hover::before{
    width: 100%;
    transition: .3s;
}
.button-apply:hover .green-animated-arrow::after{
    left: 9px;
    transition: .3s;
}
.mobile-menu-open, .mobile-menu-close{
    display: none;
}

/* #region Header */
.header-top{
    height: 35px;
    background: #2E2E2E;
}
.header-bottom{
    padding: 30px 0 40px;
    background: #fff;
    position: relative;
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    width: 153px;
    height: 55px;
}
.header-nav__link{
    font-weight: 500;
    padding: 0 3px;
    position: relative;
}
.header-nav__link::before{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 3px;
    background: #81C04F;
    width: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: .3s;
}
.header-nav__link:hover::before{
    width: 100%;
    transition: .3s;
}
.header-nav__link_active::before{
    width: 100%;
}
.header-nav {
    display: flex;
}
.header-nav > *:not(:last-child){
    margin-right: 57px;
}
.header-hideble-list{
    position: absolute;
    top: 100%;
    display: none;
    flex-direction: column;
    background: #fff;
    padding: 30px;
    z-index: 2;
    box-shadow: 0px 5px 10px 0 rgb(0 0 0 / 20%);
}
.header-hideble-list__link{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5em;
    color: rgba(0, 0, 0, 0.6);
    width: max-content;
}
.header-hideble-list__link:hover{
    color: #000;
}
.header-hideble-list__link:not(:last-of-type){
    margin-bottom: 5px;
}
/* #endregion */

/* #region Home: Hero */
.hero{
    padding: 88px 0 0 0;
}
.hero-content{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid rgba(0,0,0,0.6);
}
.hero-content__wrapper{
    max-width: 1097px;
    width: 1097px;
    position: relative;
}
.hero-title{
    font-weight: 600;
    font-size: 64px;
    line-height: 1.21em;
    text-transform: uppercase;
    max-width: 890px;
}
.hero-subtitle{
    font-weight: 500;
    line-height: 1.39em;
    color: rgba(0,0,0,0.7);
    max-width: 357px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.hero-image{
    height: 600px;
}
.hero-image__src{
    object-fit: cover;
}
/* #endregion */

/* #region Home: Company */
.company-wrapper{
    position: relative;
}
.company-slide{
    display: flex;
    justify-content: space-between;
}
.company-slide-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0;
}
.company-slide-description{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.44em;
    letter-spacing: 0.03em;
    margin: 25px 0;
    max-width: 520px;
}
.company-slide-cta{
    display: block;
    width: max-content;
}
.company-slide__image{
    width: 700px;
    height: 465px;
    margin-left: 11px;
    flex-shrink: 0;
}
.company-slide__image img{
    object-fit: cover;
}
.company-slider-arrows{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 1;
}
.company-slider-arrow:not(:last-of-type){
    margin-right: 39px;
}
.company-slider .owl-dots{
    display: none;
}
/* #endregion */

/* #region Home: Reasons */
.reasons-title-row{
    display: flex;
    margin-bottom: 40px;
}
.reasons-title-row__title{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4em;
    text-transform: uppercase;
    width: 620px;
    flex-shrink: 0;
    padding-right: 240px;
    letter-spacing: 0;
    margin-right: 80px;
}
.reasons-title-row__subtitle{
    font-weight: 500;
    line-height: 1.39em;
    max-width: 357px;
    color: rgba(0,0,0,0.7);
}
.reason-item{
    padding-top: 40px;
    border-top: 2px solid rgba(0,0,0,0.6);
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.reason-item-image{
    width: 620px;
    height: 375px;
    margin-right: 80px;
    flex-shrink: 0;
}
.reason-item-image__src{
    object-fit: cover;
}
.reason-item-description{
    position: relative;
}
.reason-item-description__text{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.03em;
    position: relative;
    z-index: 1;
}
.reason-item-description__icon{
    position: absolute;
    z-index: 0;
    width: 190px;
    height: 152px;
    right: 0;
    bottom: 0;
}
/* #endregion */

/* #region Home: Contact Us */
.contact-us-wrapper{
    display: flex;
    justify-content: space-between;
}
.contact-us-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact-us-item__title{
    display: block;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.29em;
    letter-spacing: 0.03em;
    color: #81C04F;
    margin-bottom: 10px;
}
.contact-us-item__payload{
    display: block;
    font-weight: 600;
    line-height: 1.29em;
    letter-spacing: 0.03em;
}
.contact-us-item__payload:not(:last-of-type){
    margin-bottom: 10px;
}
.contact-us-item__payload__grey{
    color: rgba(0, 0, 0, 0.5);;
}
.contact-us-map{
    width: 1060px;
    height: 573px;
    flex-shrink: 0;
    margin-left: 50px;
}
.contact-us-map iframe{
    width: 100%;
    height: 100%;
}
/* #endregion */

/* #region Home: Partners */
.partners-wrapper{
    display: flex;
    justify-content: space-between;
}
.partner{
    width: calc(calc(100% - 120px) / 4);
    background: #F0F0F0;
    padding: 6px 30px;
    display: flex;
    justify-content: center;
    height: 161px;
}
.partner:not(:last-of-type){
    margin-right: 40px;
}
/* #endregion */

/* #region Home: Request */
.request-wrapper{
    display: flex;
    justify-content: space-between;
    border: 2px solid #000000;
}
.request-illustration{
    width: 700px;
    background: rgba(203, 238, 176, 0.62);
    border-right: 2px solid #000000;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 707px;
}
.request-illustration__src{
    width: 502px;
    height: 453px;
}
.request-body{
    width: 100%;
    padding: 40px;
}
.request-title{
    font-weight: 600;
    font-size: 45px;
    line-height: 1.4em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 9px;
    letter-spacing: 0;
}
.request-subtitle{
    font-weight: 500;
    line-height: 1.39em;
    max-width: 540px;
    margin-bottom: 84px;
    color: rgba(0,0,0,0.6);
}
.request-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.request-form__input{
    padding-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    border-bottom: 2px solid #000;
    opacity: 0.8;
    transition: .3s;
    height: 39px;
}
.request-form__input_half{
    width: calc(50% - 30px);
}
.request-form__input::placeholder{
    color: #000;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.request-form__input:hover, .request-form__input:active{
    opacity: 1;
    transition: .3s;
}
.request-select{
    width: calc(50% - 30px);
    position: relative;
}
.request-select__selected{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 2px solid #000;
    opacity: 0.8;
    cursor: pointer;
    font-weight: 500;
    transition: .3s;
    height: 39px
}
.request-select__selected::after{
    content: "";
    background: url("../img/icons/arrow-down.svg") no-repeat center center/contain;
    width: 12px;
    height: 8px;
    transition: .3s;
}
.request-select-items{
    position: absolute;
    background: #F7F7F7;
    width: 100%;
    flex-direction: column;
    padding: 15px;
    z-index: 1;
    display: none;
    top: 100%;
    box-shadow: 0px 9px 15px 0px rgb(0 0 0 / 10%);
}
.request-select-item{
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    opacity: 0.8;
}
.request-select-item:hover{
    opacity: 1;
}
.request-select-item:not(:last-of-type){
    margin-bottom: 10px;
}
.request-select_open .request-select__selected::after{
    transform: rotate(180deg);
    transition: .3s;
}
.request-select_open .request-select-items{
    display: flex;
}
.request-form > *:not(:last-child){
    margin-bottom: 35px;
}
.request-select:hover .request-select__selected{
    opacity: 1;
    transition: .3s;
}
.request-form__input_textarea{
    resize: none;
    width: 100%;
}
.request-cta{
    width: 100%;
    background: #81C04F;
    color: #fff;
}
.request-cta:hover{
    opacity: 0.75;
}
.request-checkbox{
    display: flex;
    align-items: center;
    width: 100%;
}
.request-checkbox:not(:last-child){
    margin-bottom: 15px;
}
.request-checkbox__input{
    display: none;
}
.request-checkbox__marker{
    cursor: pointer;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 2px solid #81C04F;
    margin-right: 10px;
}
.request-checkbox__input:checked ~ .request-checkbox__marker{
    background: url("../img/icons/checked-green.svg") no-repeat center center/cover;
}
.request-checkbox__label{
    cursor: pointer;
}
/* #endregion */

/* #region Footer */
.footer{
    margin-top: 80px;
    background: #fff;
    padding: 80px 0 72px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}
.footer-logo{
    display: block;
    width: 153px;
    height: 55px;
    margin-bottom: 20px;
}
.footer-company-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: -0.02em;
    color: #131313;
    margin-bottom: 20px;
    display: block;
}
.footer-address{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: -0.02em;
    color: rgba(19, 19, 19, 0.6);
    max-width: 150px;
    margin-bottom: 23px;
}
.footer-phone{
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: -0.02em;
    color: #81C04F;
    align-items: center;
}
.footer-phone::before{
    content: "";
    width: 18px;
    height: 18px;
    background: url("../img/icons/phone-green.svg") no-repeat center center/contain;
    flex-shrink: 0;
    margin-right: 10px;
}
.footer-links{
    display: flex;
}
.footer-links-block:not(:last-of-type){
    margin-right: 60px;
}
.footer-links-block__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: -0.02em;
    color: #1A202C;
    margin-bottom: 24px;
}
.footer-links-list{
    display: flex;
    flex-direction: column;
    min-width: 152px;
}
.footer-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: -0.02em;
    color: rgba(19, 19, 19, 0.6);
    width: max-content;
}
.footer-link:not(:last-of-type){
    margin-bottom: 25px;
}
.footer-link:hover{
    color: #000;
}
.footer-copyright{
    padding-top: 24px;
    border-top: 1px solid rgba(19, 19, 19, 0.16);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: -0.02em;
    color: #1A202C;
}
/* #endregion */

/* #region Catalog */
.catalog{
    padding: 0 0 85px 0;
}
.catalog-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.catalog-settings{
    width: 341px;
    background: #fff;
    margin-right: 25px;
    flex-shrink: 0;
    padding: 25px 24px;
    overflow: hidden;
}
.catalog-settings__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: -0.03em;
}
.catalog-settings-items{
    margin: 25px 0 50px;
}
.catalog-setting:not(:last-of-type){
    margin-bottom: 16px;
}
.catalog-setting__title{
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: -0.03em;
    color: #C2C2C2;
    margin-bottom: 16px;
}
.catalog-setting-item{
    display: flex;
    align-items: center;
}
.catalog-setting-item:not(:last-of-type){
    margin-bottom: 8px;
}
.catalog-setting-item__input{
    display: none;
}
.catalog-setting-item__input:checked ~ .catalog-setting-item__marker{
    background: url("../img/icons/checked-green.svg") no-repeat center center/cover;
    border-color: #81C04F;
}
.catalog-setting-item__marker{
    border: 1px solid rgba(17, 17, 17, 0.5);
    border-radius: 3px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    margin-right: 8px;
    cursor: pointer;
}
.catalog-setting-item__label{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.catalog-setting-color{
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    margin-right: 8px;
    border-radius: 50%;
}
.catalog-setting-range{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 34px;
}
.catalog-setting-range__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    margin-right: 8px;
}
.catalog-setting-range__input{
    width: 90px;
    height: 40px;
    border: 1px solid rgba(17, 17, 17, 0.5);
    border-radius: 3px;
    text-align: center;
    color: #000;
    padding: 0 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
}
.catalog-setting-range__input::placeholder{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    color: rgba(17, 17, 17, 0.5);
}
.catalog-setting-range__input:not(:last-of-type){
    margin-right: 8px;
}
.catalog-settings__submit{
    width: 100%;
    height: 44px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.catalog-settings__reset{
    width: 100%;
    height: 44px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.catalog-content{
    width: 100%;
}
.catalog-sorting{
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 25px 24px;
    margin-bottom: 32px;
}
.catalog-sorting__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: -0.03em;
}
.catalog-sorting__options{
    display: flex;
    align-items: center;
}
.catalog-sorting-option:not(:last-of-type){
    margin-right: 35px;
}
.catalog-sorting-option{
    font-weight: 500;
    line-height: 1.5em;
    opacity: 0.8;
    position: relative;
}
.catalog-sorting-option::after{
    content: "";
    bottom: -1px;
    position: absolute;
    height: 1px;
    background: #81C04F;
    width: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: .3s;
}
.catalog-sorting-option_active, .catalog-sorting-option:hover{
    opacity: 1;
}
.catalog-sorting-option_active::after, .catalog-sorting-option:hover::after{
    width: 100%;
    transition: .3s;
}
.catalog-products{
    display: flex;
    flex-wrap: wrap;
}
.catalog-product{
    width: calc(calc(100% - 30px) / 3);
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    margin-bottom: 20px;
}
.catalog-product:not(:nth-child(3n)){
    margin-right: 15px;
}
.catalog-product-image{
    display: block;
    width: 100%;
    height: 300px;
    position: relative;
}
.catalog-product-image__sale{
    position: absolute;
    top: 8px;
    right: 8px;
    background: #DD0000;
    padding: 7px 14px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}
.catalog-product-image__src{
    object-fit: cover;
}
.catalog-product-info{
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 300px);
}
.catalog-product-info-wrap{
    display: flex;
    flex-direction: column;
}
.catalog-product-info__category{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: -0.02em;
    color: #C2C2C2;
    margin-bottom: 3px;
}
.catalog-product-info__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5em;
    letter-spacing: -0.03em;
    color: #1A202C;
    margin-bottom: 18px;
}
.catalog-product-info__price{
    font-weight: 700;
    font-size: 24px;
    color: #1A202C;
}
.catalog-product-info__buy{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 44px;
    margin-top: 18px;
}
/* #endregion */

/* #region Offers */
.offers{
    padding: 0;
}
.offers-wrapper{
    position: relative;
}
.offers-slider{
    width: 1078px;
    margin: 0 auto;
}
.offer-item{
    width: 100%;
    height: 100%;
    margin: 0;
}
.offers-slider .owl-stage{
    display: flex;
}
.offers-slider .owl-dots{
    display: none;
}
.offer-btn{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.offer-btn_prev{
    left: 0;
}
.offer-btn_next{
    right: 0;
}
.catalog-product-special-price{
    display: flex;
    align-items: flex-end;
}
.catalog-product-price-new{
    display: flex;
    align-items: flex-end;
    margin-right: 16px;
}
.catalog-product-price-new__value{
    font-weight: 700;
    font-size: 24px;
    color: #81C04F;
}
.catalog-product-price-new__currency{
    font-weight: 700;
    font-size: 20px;
    color: #1A202C;
    margin-left: 5px;
}
.catalog-product-price-old{
    display: flex;
    align-items: center;
}
.catalog-product-price-old__value{
    font-weight: 700;
    font-size: 18px;
    text-decoration-line: line-through;
    color: #DE0000;
}
.catalog-product-price-old__currency{
    font-weight: 700;
    font-size: 14px;
    color: #1A202C;
    margin-left: 5px;
}
/* #endregion */

/* #region Career */
.career{
    padding: 0;
}
.career-image{
    width: 100%;
    height: 500px;
    margin-bottom: 100px;
}
.career-image__src{
    object-fit: cover;
}
.career-offer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.career-offer__title{
    font-weight: 600;
    font-size: 45px;
    line-height: 1.2em;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #000000;
}
.career-offer-items{
    width: 680px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.career-item{
    width: calc(50% - 10px);
}
.career-item__img{
    width: 38px;
    height: 40px;
    margin-bottom: 8px;
}
.career-item__p{
    font-weight: 500;
    font-size: 22px;
    line-height: 1.4em;
    max-width: 300px;
}
.career-item:not(:nth-last-child(-n+2)){
    margin-bottom: 67px;
}
/* #endregion */

/* #region Vacancies */
.vacancies{
    padding-bottom: 50px;
}
.page-title-wrapper_vacancies .page-title__description{
    width: 682px;
    max-width: 682px;
}
.vacancies-wrapper{
    margin-top: 130px;
    border-top: 2px solid rgba(0,0,0,0.6);
    border-bottom: 2px solid rgba(0,0,0,0.6);
}
.vacancy{
    padding: 35px 0;
    position: relative;
}
.vacancy:not(:last-of-type){
    border-bottom: 2px solid rgba(0,0,0,0.6);
}
.vacancy-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.29em;
    letter-spacing: 0.005em;
    color: #111111;
    display: block;
    text-align: left;
    width: 100%;
    z-index: 1;
    padding-right: 750px;
    position: relative;
}
.vacancy-title::after{
    content: "";
    background: url("../img/icons/arrow-down-vanacy.svg") no-repeat center center/contain;
    width: 40px;
    height: 20px;
    transition: .3s;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
}
.vacancy_open .vacancy-title::after{
    transform: rotate(180deg) translate(0, 50%);
    transition: .3s;
}
.vacancy-body{
    display: none;
    justify-content: space-between;
    position: relative;
    top: -31px;
    padding-right: 179px;
    align-items: flex-start;
    margin-bottom: -31px;
}
.vacancy-apply{
    margin-top: 55px;
}
.vacancy-description{
    width: 561px;
}
.vacancy-description-block:not(:last-of-type){
    margin-bottom: 30px;
}
.vacancy-description-block__title{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.29em;
    letter-spacing: 0.005em;
    margin-bottom: 25px;
}
.vacancy-description-block__p{
    line-height: 1.3em;
    letter-spacing: 0.005em;
}
/* #endregion */

/* #region Service */
.page-title-wrapper_service .page-title__description{
    max-width: 720px;
}
.service{
    padding: 80px 0 50px;
}
.services-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.service-item{
    width: calc(50% - 10px);
    position: relative;
    height: 415px;
    margin-bottom: 20px;
}
.service-item:nth-child(2n + 1){
    margin-right: 20px;
}
.service-item__bg{
    object-fit: cover;
}
.service-item__content{
    position: absolute;
    bottom: 69px;
    left: 60px;
    right: 145px;
    color: #fff;
    z-index: 2;
}
.service-item::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(77.48% 48.07% at 50% 98.19%, #181A18 15.61%, rgba(20, 20, 20, 0) 100%);
    opacity: 0.8;
    z-index: 1;
}
.service-item-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5em;
    letter-spacing: -0.03em;
    margin-bottom: 15px;
    position: relative;
    width: max-content;
}
.service-item-description{
    font-weight: 500;
    line-height: 1.39em;
}
.service-item-title::after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0%;
    height: 2px;
    background-color: #81C04F;
    transition: .3s;
}
.service-item:hover .service-item-title::after{
    transition: .3s;
    width: 100%;
}
/* #endregion */

/* #region Articles */
.articles{
    padding-top: 0;
}
.articles-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.article{
    width: calc(calc(100% - 30px) / 3);
    background: #fff;
    margin-top: 15px;
}
.article:first-of-type{
    width: 100%;
    margin-right: 0 !important;
    height: 500px;
    position: relative;
    margin-top: 0;
}
.article:first-of-type .article__bg{
    object-fit: cover;
    height: 100%;
}
.article:first-of-type .article__body{
    position: absolute;
    left: 39px;
    bottom: 35px;
    right: 400px;
    color: #fff;
    padding: 0;
}
.article:first-of-type .article-wrapper{
    margin-bottom: 24px;
}
.article:first-of-type .article-meta{
    margin-bottom: 16px;
}
.article:first-of-type .article-title{
    font-weight: 700;
    font-size: 36px;
}
.article:first-of-type .article-spoiler{
    display: none;
}
.article:first-of-type .article-read{
    padding: 13px 23px;
    border: 2px solid #81C04F;
    display: flex;
    align-items: center;
    color: #fff;
}
.article:first-of-type .article-read .green-animated-arrow{
    position: relative;
    transform: initial;
    left: initial;
    right: initial;
    top: initial;
    bottom: initial;
    flex-shrink: 0;
    margin-left: 16px;
}
.article:first-of-type .article-read::before{
    display: none;
}
.article:first-of-type .article-read .green-animated-arrow::after {
    background: url("../img/icons/arrow-right-btn_white.svg") no-repeat center center/contain;
}
.article__bg{
    height: 300px;
    object-fit: cover;
}
.article__body{
    padding: 25px 35px;
}
.article-meta{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}
.article-meta__category{
    color: #81C04F;
    display: inline-block;
}
.article-meta__date{
    color: #BABABA;
    display: inline-block;
    margin-left: 20px;
}
.article-title{
    line-height: 1.5em;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}
.article-spoiler{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    color: #7C7A7A;
    margin-bottom: 25px;
}
.article-read{
    color: #111111;
}

.article:not(:nth-child(3n + 4)){
    margin-right: 15px;
}
/* #endregion */

/* #region Article */
.content-page{
    padding-top: 75px;
}
.article-content h2{
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.5em;
    color: #1A202C;
}
.article-content p{
    font-weight: 500;
    line-height: 1.5em;
    color: rgba(17, 17, 17, 0.8);
}
.article-content p:not(:last-child){
    margin-bottom: 35px;
}
.article-content ul{
    list-style: disc;
    position: relative;
    left: 20px;
    width: calc(100% - 20px);
}
.article-content ul li:not(:last-of-type){
    margin-bottom: 30px;
}
.article-content ul li{
    font-weight: 500;
    line-height: 1.35em;
    opacity: 0.8;
}
.article-content b{
    font-weight: 600;
}
.content-page .article{
    margin-bottom: 35px;
}
.article-content img{
    float: left;
    width: 693px;
    height: 462px;
    object-fit: cover;
    margin: 0 35px 35px 0;
}
.article-content::after {
    content: "";
    clear: both;
    display: table;
}
.article-content ul li::before{
    content: "";
}
/* #endregion */

/* #region History: Photo Slider */
.history-photos{
    overflow: hidden;
    padding-top: 0;
}
.history-photos-slide{
    max-width: 678px;
    height: 380px;
    object-fit: cover;
}
.page-title-wrapper_history .page-title__h1{
    max-width: 571px;
}
/* #endregion */

/* #region History: About */
.about{
    padding-top: 108px;
}
.about-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-wrapper-image{
    width: 645px;
    height: 551px;
    margin-right: 95px;
    flex-shrink: 0;
}
.about-wrapper-image__src{
    object-fit: cover;
}
.about-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 1.4em;
    text-transform: uppercase;
    margin-bottom: 60px;
}
.about-text{
    font-weight: 500;
    font-size: 22px;
    line-height: 1.3em;
    opacity: 0.8;
    min-width: 544px;
}
.about-text:not(:last-of-type){
    margin-bottom: 24px;
}
.about-cta{
    display: block;
    width: max-content;
    margin-top: 60px;
    padding: 19px 57px;
}
/* #endregion */

/* #region History: Years */
.years{
    padding-bottom: 66px;
}
.years-title{
    font-weight: 600;
    font-size: 45px;
    line-height: 1.2em;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 70px;
}
.year-item__year{
    font-weight: 600;
    font-size: 46px;
    line-height: 1.3em;
    letter-spacing: 0.01em;
    color: #81C04F;
    margin-bottom: 30px;
    display: block;
}
.year-item__description{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5em;
    color: rgba(17, 17, 17, 0.8);
}
.years-buttons{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.year-btn{
    display: flex;
    align-items: center;
}
.year-btn:not(:last-of-type){
    margin-right: 39px;
}
.year-btn__title{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #111111;
    opacity: 0.6;
    width: 60px;
}
.year-btn_prev .year-btn__title{
    margin-right: 30px;
    text-align: right;
}
.year-btn_next .year-btn__title{
    margin-left: 30px;
    text-align: left;
}
/* #endregion */

/* #region Approach Contacts & Schedule */
.approach-contacts{
    padding-top: 0;
}
.approach-contacts-wrapper{
    display: flex;
    justify-content: space-between;
}
.approach-contacts-map{
    width: 700px;
    height: 457px;
    flex-shrink: 0;
    margin-right: 40px;
}
.approach-contacts-map iframe{
    width: 100%;
    height: 100%;
}
.approach-contacts-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.approach-contacts-title{
    font-weight: 600;
    font-size: 35px;
    line-height: 1.29em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.approach-contacts-title::before{
    content: "";
    width: 20px;
    height: 28px;
    margin-right: 10px;
    flex-shrink: 0;
    background: url("../img/icons/map.svg") no-repeat center center/contain;
}
.approach-contacts-schedule-wrap{
    display: flex;
    justify-content: space-between;
}
.approach-contacts-schedule{
    width: 50%;
}
.approach-contacts-day{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.29em;
    letter-spacing: 0.03em;
}
.approach-contacts-day:not(:last-of-type){
    margin-bottom: 15px;
}
.approach-contacts-day__title{
    color: #81C04F;
    width: 80px;
    display: inline-block;
}
.approach-contacts-day__title_off{
    color: rgba(0, 0, 0, 0.5);
}
.approach-contacts-content-btns{
    display: flex;
}
.approach-first-btn{
    margin-right: 40px;
}
/* #endregion */

/* #region Team */
.team-wrapper{
    display: flex;
    justify-content: space-between;
}
.page-title__h1_team{
    width: 380px;
    flex-shrink: 0;
}
.team-members{
    display: flex;
    justify-content: space-between;
}
.team-member{
    width: calc(calc(100% - 40px) / 3);
}
.team-member__img{
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
}
.team-member__position{
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.29em;
    letter-spacing: 0.03em;
    opacity: 0.8;
    margin-bottom: 3px;
}
.team-member__name{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.29em;
    letter-spacing: 0.03em;
    color: #81C04F;
    display: block;
    margin-bottom: 5px;
}
.team-member__link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: -0.02em;
    color: #000000;
    display: flex;
    align-items: center;
    opacity: 0.5;
}
.team-member__link:hover{
    opacity: 1;
}
.team-member__link:not(:last-of-type){
    margin-bottom: 5px;
}
.team-member__link::before{
    content: "";
    margin-right: 10px;
    width: 18px;
}
.team-member__link_phone::before{
    height: 18px;
    background: url("../img/icons/phone-grey.svg") no-repeat center center/contain;
}
.team-member__link_email::before{
    height: 13px;
    background: url("../img/icons/mail-grey.svg") no-repeat center center/contain;
}
/* #endregion */

/* #region Contacs page */
.contacs{
    padding-top: 75px;
}
.contacs-wrapper{
    display: flex;
    justify-content: space-between;
}
.contacs-info{
    width: 720px;
    max-width: 720px;
    flex-shrink: 0;
}
.contacs-info__block{
    font-weight: 500;
    font-size: 22px;
    line-height: 1.3em;
    letter-spacing: 0.01em;
    color: #000000;
}
.contacs-info__block:not(:last-of-type){
    margin-bottom: 30px;
}
/* #endregion */

/* #region Contacs Page: Request */
.request-page .request-illustration{
    border: none;
    width: 690px;
    height: 653px;
}
.request-page .request-illustration__src{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.request-page .request-wrapper{
    border: none;
}
.request-page .request-body{
    padding: 0;
    margin-left: 50px;
}
/* #endregion */

/* #region Catalog */
.catalog-item{
    width: calc(50% - 9px);
    margin-bottom: 18px;
    display: flex;
    padding: 31px 18px;
    background: #fff;
}
.catalog-item:nth-child(odd){
    margin-right: 18px;
}
.catalog-item-image{
    width: 177px;
    height: 250px;
    flex-shrink: 0;
}
.catalog-product-image__src{
    object-fit: cover;
}
.catalog-item-info{
    margin-left: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.catalog-item-info__category{
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #C2C2C2;
    margin-bottom: 3px;
}
.catalog-item-info__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5em;
    letter-spacing: -0.03em;
    margin-bottom: 24px;
    display: block;
}
.catalog-item-info__description{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    color: rgba(17, 17, 17, 0.8);
}
.catalog-item-info__buy{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
}
/* #endregion */

.mobile-ctalog-buttons{
    display: none;
}

@media screen and (max-width: 1500px){
    .container{
        width: 1140px;
    }
    .hero-title {
        font-size: 54px;
        max-width: 750px;
    }
    .hero-content__wrapper {
        width: 850px;
    }
    .hero-image {
        height: 500px;
    }
    .company-slide-title {
        font-size: 40px;
    }
    .company-slide__image {
        width: 570px;
        height: 400px;
    }
    .reason-item-image {
        width: 550px;
        height: 375px;
        margin-right: 50px;
    }
    .reasons-title-row__title {
        width: 550px;
        padding-right: 0;
        margin-right: 50px;
    }
    .reason-item-description__icon {
        width: 150px;
        height: 120px;
    }
    .contact-us-map {
        width: calc(100% - 350px);
        margin-left: 25px;
    }
    .request-illustration {
        width: 380px;
    }
    .request-illustration__src {
        width: calc(100% - 100px);
        height: auto;
    }
    .catalog-setting-range {
        padding-right: 0;
    }
    .catalog-settings {
        width: 320px;
    }
    .catalog-product-image {
        height: 220px;
    }
    .catalog-product-info {
        height: calc(100% - 220px);
    }
    .offers-slider {
        width: 900px;
    }
    .page-title-wrapper_career .page-title__description {
        flex-direction: column;
    }
    .page-title-wrapper_career .page-title-p:not(:last-of-type) {
        margin: 0 0 20px;
    }
    .vacancy-title {
        padding-right: 650px;
    }
    .vacancy-body {
        padding-right: 80px;
    }
    .page-title-wrapper_career .page-title-p {
        max-width: 500px;
        width: 500px;
    }
    .article-content img {
        width: 50%;
        height: auto;
    }
    .catalog-setting-item__label {
        white-space: normal;
    }
    .catalog-item {
        width: 100%;
    }
    .catalog-item:nth-child(odd) {
        margin-right: 0;
    }
    .catalog-item:not(:last-of-type){
        margin-bottom: 15px;
    }
    .page-title-wrapper_history .page-title__description{
        max-width: 500px;
    }
    .about-wrapper-image {
        width: 550px;
        height: 500px;
        margin-right: 50px;
    }
    .about-title {
        margin-bottom: 30px;
        font-size: 35px;
    }
    .about-text {
        font-size: 18px;
        max-width: 100%;
        min-width: initial;
    }
    .approach-contacts-map {
        width: 50%;
        height: 400px;
        flex-shrink: 0;
        margin-right: 30px;
    }
    .page-title__h1_team {
        width: 300px;
    }
    .contacs-info {
        width: 650px;
        max-width: 650px;
    }
    .request-page .request-illustration {
        border: none;
        width: 380px;
        height: auto;
    }
    .header-nav > *:not(:last-child) {
        margin-right: 40px;
    }
}

@media screen and (max-width: 1200px){
    .container{
        width: 960px;
    }
    .header-nav > *:not(:last-child) {
        margin-right: 25px;
    }
    .header-nav__link {
        font-size: 16px;
    }
    .hero-title {
        font-size: 40px;
        max-width: 550px;
    }
    .hero-subtitle {
        max-width: 315px;
        font-size: 16px;
    }
    .cta {
        font-size: 14px;
        padding: 15px 30px;
        white-space: nowrap;
    }
    .hero-content__wrapper {
        width: 720px;
    }
    .hero-image {
        height: 400px;
    }
    .company-slide-title {
        font-size: 30px;
    }
    .company-slide-description {
        font-size: 18px;
        margin: 20px 0;
        max-width: 390px;
    }
    .company-slide__image {
        width: 530px;
        height: 340px;
    }
    .company-slider-arrow:not(:last-of-type) {
        margin-right: 20px;
    }
    .round-btn {
        width: 45px;
        height: 45px;
        border: 2px solid rgba(0,0,0,0.6);
    }
    .round-btn::after {
        width: 16px;
        height: 12px;
    }
    .reason-item-image {
        width: 450px;
        height: 280px;
    }
    .reasons-title-row__title {
        width: 450px;
        font-size: 22px;
    }
    .reasons-title-row__subtitle {
        font-size: 16px;
    }
    .reason-item-description__text {
        font-weight: 400;
        font-size: 20px;
    }
    .reason-item-description__icon {
        width: 120px;
        height: 100px;
    }
    .contact-us-item__title {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .contact-us-item__payload {
        font-size: 16px;
    }
    .commont-title-h2 {
        font-size: 30px;
    }
    .contact-us-map {
        width: calc(100% - 320px);
        height: 450px;
        margin-left: 25px;
    }
    .partner {
        height: 120px;
    }
    .request-title {
        font-size: 30px;
    }
    .request-subtitle {
        margin-bottom: 50px;
    }
    .request-body {
        padding: 30px;
    }
    .request-form__input_half {
        width: calc(50% - 15px);
    }
    .request-form > *:not(:last-child) {
        margin-bottom: 25px;
    }
    .request-select {
        width: calc(50% - 15px);
    }
    .request-form__input_half[name='company']{
        width: 100%;
    }
    .g-recaptcha {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .request-checkbox__label {
        font-size: 16px;
    }
    .request-form__input {
        padding-bottom: 10px;
        font-size: 16px;
    }
    .request-select__selected {
        padding-bottom: 10px;
        font-size: 16px;
    }
    .request-illustration {
        min-height: unset;
        width: 420px;
    }
    .footer-links-block:not(:last-of-type) {
        margin-right: 50px;
    }
    .footer-links-block__title {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .footer-link:not(:last-of-type) {
        margin-bottom: 20px;
    }
    .footer-links-list {
        min-width: max-content;
    }
    .footer-info {
        max-width: 200px;
    }
    .footer-address {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .footer-phone {
        font-size: 14px;
    }
    .footer-phone::before {
        width: 15px;
        height: 15px;
    }
    .footer-copyright {
        font-size: 14px;
    }
    .page-title__h1 {
        font-size: 40px;
    }
    .page-title__description {
        font-size: 18px;
        max-width: 500px;
    }
    .catalog-settings {
        width: 250px;
        padding: 15px;
    }
    .catalog-setting-range {
        flex-wrap: wrap;
    }
    .catalog-setting-range__title {
        width: 70px;
        margin: 0;
        flex-shrink: 0;
    }
    .catalog-setting-range__input:not(:last-of-type) {
        margin: 0 0 10px 0;
    }
    .catalog-setting-range__input {
        width: calc(100% - 70px);
    }
    .catalog-setting-range__title:first-of-type{
        margin-bottom: 8px;
    }
    .catalog-settings__title {
        font-size: 18px;
    }
    .catalog-sorting__title {
        font-size: 18px;
    }
    .catalog-sorting {
        padding: 15px;
        margin-bottom: 25px;
    }
    .catalog-sorting-option:not(:last-of-type) {
        margin-right: 25px;
    }
    .catalog-sorting-option {
        font-size: 16px;
    }
    .catalog-product-image {
        height: 180px;
    }
    .catalog-product-info {
        height: calc(100% - 180px);
        padding: 10px;
    }
    .catalog-product-info__category{
        font-size: 12px;
    }
    .catalog-product-info__price {
        font-size: 22px;
    }
    .offers-slider {
        width: 800px;
    }
    .catalog-product-price-new__value {
        font-weight: 700;
        font-size: 22px;
        color: #81C04F;
    }
    .catalog-product-price-new__currency {
        font-size: 16px;
        margin-left: 3px;
    }
    .catalog-product-price-new {
        margin-right: 10px;
    }
    .catalog-product-price-old__value {
        font-size: 16px;
    }
    .catalog-product-price-old__currency {
        font-size: 12px;
        margin-left: 3px;
    }
    .career-image{
        height: 400px;
    }
    .career-offer-items {
        width: 570px;
    }
    .page-title-wrapper_vacancies .page-title__description {
        width: 570px;
        max-width: 570px;
    }
    .vacancy-description {
        width: 500px;
    }
    .vacancy-title {
        padding-right: 590px;
    }
    .service{
        padding: 0;
    }
    .service-item {
        height: 350px;
    }
    .service-item__content {
        bottom: 30px;
        left: 30px;
        right: 30px;
    }
    .page-title-wrapper_service .page-title__description {
        max-width: 540px;
    }
    .article:first-of-type {
        height: 400px;
    }
    .article:first-of-type .article-title {
        font-weight: 700;
        font-size: 30px;
    }
    .article:first-of-type .article__body {
        right: 200px;
    }
    .article__bg {
        height: 250px;
    }
    .page-title-wrapper_history .page-title__description{
        max-width: 330px;
    }
    .history-photos-slide {
        max-width: 500px;
        height: 350px;
    }
    .about-wrapper-image {
        width: 450px;
        height: 400px;
        margin-right: 30px;
    }
    .year-item__year {
        font-size: 36px;
        margin-bottom: 20px;
    }
    .year-item__description {
        font-size: 18px;
    }
    .years-buttons {
        margin-top: 50px;
    }
    .approach-contacts-map {
        width: 400px;
        height: 360px;
    }
    .approach-contacts-title {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .approach-contacts-day__title {
        width: 60px;
    }
    .team-wrapper{
        flex-direction: column;
    }
    .page-title__h1_team {
        width: auto;
        margin-bottom: 30px;
    }
    .team-member__img {
        height: 375px;
    }
    .approach-first-btn {
        margin-right: 30px;
    }
    .contacs-info {
        width: 550px;
        max-width: 550px;
    }
    .request-page .request-illustration {
        width: 420px;
    }
    .request-page .request-body {
        padding: 0;
        margin-left: 30px;
    }
}

@media screen and (max-width: 992px){
    .container{
        width: 720px;
    }
    .header-top {
        height: 22px;
    }
    .header-bottom {
        padding: 30px 0;
    }
    .header-wrapper {
        flex-direction: column;
    }
    .header-logo {
        width: 140px;
        height: 50px;
        margin-bottom: 30px;
    }
    .header-nav{
        width: 100%;
        justify-content: space-between;
    }
    .hero {
        padding: 100px 0 0 0;
    }
    .hero-subtitle {
        position: initial;
        margin-top: 20px;
        max-width: 500px;
    }
    .hero-title {
        font-size: 30px;
        max-width: 100%;
    }
    .hero-title br{
        display: none;
    }
    .hero-content {
        flex-direction: column;
        align-items: flex-start;
    }
    .cta {
        font-size: 14px;
        padding: 12px 24px;
    }
    .hero-cta {
        margin-top: 20px;
    }
    .hero-content {
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    .hero-image {
        height: 300px;
    }
    section {
        padding: 100px 0 0 0;
    }
    .company-slide-title {
        font-size: 24px;
    }
    .company-slide-description {
        font-size: 16px;
        margin: 15px 0;
        max-width: 290px;
    }
    .company-slide__image {
        width: 370px;
        height: 300px;
        margin-left: 0;
    }
    .reasons-title-row__title {
        width: 350px;
        font-size: 20px;
        margin-right: 30px;
    }
    .reasons-title-row {
        margin-bottom: 30px;
    }
    .reason-item {
        padding-top: 30px;
        margin-top: 30px;
    }
    .reason-item-image {
        width: 340px;
        height: 200px;
        margin-right: 30px;
    }
    .reason-item-description__text {
        font-size: 16px;
    }
    .reason-item-description__icon {
        width: 75px;
        height: 60px;
    }
    .commont-title-h2 {
        font-size: 24px;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    .contact-us-item__title {
        font-size: 18px;
    }
    .contact-us-item__payload:not(:last-of-type) {
        margin-bottom: 5px;
    }
    .contact-us-map {
        width: calc(100% - 300px);
        height: 400px;
        margin-left: 0;
    }
    .partner {
        width: calc(calc(100% - 90px) / 4);
        padding: 0 20px;
        height: 100px;
    }
    .partner:not(:last-of-type) {
        margin-right: 30px;
    }
    .request-illustration{
        display: none;
    }
    .request-title {
        font-size: 24px;
    }
    .request-subtitle {
        margin-bottom: 50px;
        font-size: 16px;
    }
    .footer {
        margin-top: 75px;
        padding: 50px 0;
    }
    .footer-top {
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
    .footer-links {
        margin-bottom: 50px;
        justify-content: space-between;
    }
    .footer-info {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 50%;
        position: relative;
    }
    .footer-logo {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
    }
    .footer-address {
        max-width: 100%;
    }
    .footer-copyright {
        padding-top: 50px;
    }
    .page-title-wrapper{
        flex-direction: column;
    }
    .page-title__h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .page-title__description {
        max-width: 100%;
    }
    .catalog-setting__title {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .catalog-settings-items {
        margin: 20px 0 40px;
    }
    .catalog-setting:not(:last-of-type) {
        margin-bottom: 10px;
    }
    .catalog-setting-item:not(:last-of-type) {
        margin-bottom: 5px;
    }
    .catalog-setting-item__label {
        font-size: 14px;
    }
    .catalog-setting-range__title{
        font-size: 14px;
    }
    .catalog-setting-range__title:first-of-type {
        margin-bottom: 5px;
    }
    .catalog-setting-range__input:not(:last-of-type) {
        margin: 0 0 5px 0;
    }
    .catalog-setting-range__input {
        height: 35px;
        font-size: 14px;
    }
    .catalog-settings {
        width: 210px;
        margin-right: 20px;
    }
    .catalog-sorting {
        height: 60px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .catalog-wrapper {
        position: relative;
        padding-top: 80px;
    }
    .catalog-product {
        width: calc(calc(100% - 15px) / 2);
        margin-bottom: 15px;
    }
    .catalog-product:not(:nth-child(3n)) {
        margin-right: 0;
    }
    .catalog-product:nth-child(2n+1) {
        margin-right: 15px;
    }
    .catalog {
        padding: 0;
    }
    .offers-slider {
        width: calc(100% - 110px);
    }
    .offer-item {
        width: 100%;
        margin: 0;
    }
    .page-title-wrapper_career .page-title-p {
        max-width: 100%;
        width: 100%;
    }
    .career-image {
        height: 300px;
    }
    .career-offer {
        flex-direction: column;
    }
    .career-offer__title {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .career-offer-items {
        width: 100%;
    }
    .vacancies-wrapper {
        margin-top: 70px;
    }
    .vacancy-title::after {
        width: 30px;
        height: 20px;
    }
    .vacancy-title {
        padding-right: 70px;
    }
    .vacancy {
        padding: 25px 0;
    }
    .vacancy-body {
        padding-right: 0;
    }
    .vacancy-description {
        width: 500px;
    }
    .vacancy-body {
        top: 0;
        margin: 30px 0 0 0;
    }
    .vacancy-apply {
        margin-top: 0;
    }
    .service-item {
        height: 300px;
    }
    .service-item__content {
        bottom: 20px;
        left: 20px;
        right: 20px;
    }
    .service-item-title {
        font-size: 22px;
        margin-bottom: 5px;
        width: 100%;
    }
    .service-item-description {
        font-size: 16px;
    }
    .article:first-of-type {
        height: 300px;
    }
    .article:first-of-type .article__body {
        left: 30px;
        bottom: 30px;
        right: 30px;
    }
    .article:first-of-type .article-meta {
        margin-bottom: 10px;
        font-size: 14px;
    }
    .article:first-of-type .article-title {
        font-weight: 700;
        font-size: 24px;
    }
    .article:first-of-type .article-read {
        padding: 10px 20px;
        font-size: 14px;
    }
    .article__bg {
        height: 200px;
    }
    .article__body {
        padding: 20px;
    }
    .article-meta {
        display: flex;
        flex-direction: column-reverse;
    }
    .article-meta__date {
        margin: 0 0 5px 0;
    }
    .article:first-of-type .article-meta {
        margin-bottom: 10px;
        font-size: 14px;
        display: block;
    }
    .article:first-of-type .article-meta__date {
        margin: 0 0 0 20px;
    }
    .article-meta {
        margin-bottom: 10px;
    }
    .article-title {
        font-size: 18px;
    }
    .button-apply {
        font-size: 16px;
    }
    .article-content p{
        font-size: 16px;
    }
    .article-content h2 {
        margin-bottom: 20px;
        font-size: 24px;
    }
    .article-content p:not(:last-child) {
        margin-bottom: 20px;
    }
    .article-content ul li{
        font-size: 16px;
    }
    .article-content ul li:not(:last-of-type) {
        margin-bottom: 20px;
    }
    .catalog-item {
        padding: 15px;
    }
    .catalog-item-image {
        width: 150px;
        height: 100%;
    }
    .catalog-item-info__title {
        margin-bottom: 15px;
    }
    .catalog-item-info__description {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .catalog-wrapper_catalog{
        padding: 0;
    }
    .history-photos-slide {
        max-width: 350px;
        height: 250px;
    }
    .about-wrapper-image {
        width: 350px;
        height: 300px;
        margin-right: 30px;
    }
    .about-wrapper{
        flex-direction: column;
    }
    .about-wrapper-image {
        width: 100%;
        height: 350px;
        margin: 0 0 30px 0;
    }
    .about-title {
        margin-bottom: 20px;
        font-size: 26px;
    }
    .about-text {
        font-size: 16px;
    }
    .about-text:not(:last-of-type) {
        margin-bottom: 15px;
    }
    .about-cta {
        margin-top: 30px;
    }
    .years-title {
        font-size: 26px;
        margin-bottom: 30px;
    }
    .year-item__year {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .year-item__description {
        font-size: 16px;
    }
    .years-buttons {
        margin-top: 30px;
    }
    .year-btn_prev .year-btn__title {
        margin-right: 20px;
    }
    .year-btn_next .year-btn__title {
        margin-left: 20px;
    }
    .year-btn:not(:last-of-type) {
        margin-right: 30px;
    }
    .years{
        padding-bottom: 0;
    }
    .approach-contacts-wrapper{
        flex-direction: column;
    }
    .page-title-wrapper_approach .page-title__h1{
        margin: 0;
    }
    .approach-contacts-map {
        width: 100%;
        height: 300px;
        margin: 0 0 50px 0;
    }
    .approach-contacts-schedule {
        width: max-content;
    }
    .approach-contacts-schedule:not(:last-of-type){
        margin-right: 100px;
    }
    .approach-contacts-schedule-wrap{
        justify-content: flex-start;
    }
    .approach-contacts-content-btns {
        margin-top: 50px;
    }
    .team-member__img {
        height: 300px;
    }
    .team-member__position {
        font-size: 16px;
    }
    .team-member__name {
        font-size: 20px;
    }
    .team-member__link::before {
        content: "";
        margin-right: 8px;
        width: 12px;
    }
    .team-member__link_phone::before {
        height: 12px;
    }
    .team-member__link_email::before {
        height: 9px;
    }
    .contacs-wrapper{
        flex-direction: column;
    }
    .contacs-info {
        width: 100%;
        max-width: 100%;
    }
    .contacs-info__block:not(:last-of-type) {
        margin-bottom: 20px;
    }
    .contacs-info__block {
        font-size: 18px;
    }
    .request-page .request-body {
        margin-left: 0;
    }
    .request-page .request-checkbox:not(:last-child) {
        margin-bottom: 15px !important;
    }
}

@media screen and (max-width: 768px){
    .container{
        max-width: 540px;
        width: 100%;
    }
    .mobile-menu-open{
        display: block;
        background: url("../img/icons/mobile-menu.svg") no-repeat center center/contain;
        width: 20px;
        height: 20px;
    }
    .mobile-menu-close{
        display: block;
        background: url("../img/icons/mobile-menu-close.svg") no-repeat center center/contain;
        width: 20px;
        height: 20px;
        top: 20px;
        right: 20px;
        position: absolute;
    }
    .header-wrapper {
        flex-direction: row;
    }
    .header-logo{
        margin-bottom: 0;
    }
    .header-nav {
        display: none;
    }
    .header-bottom {
        padding: 20px 0;
    }
    .hero{
        padding: 50px 0 0 0;
    }
    section {
        padding: 70px 0 0 0;
    }
    .hero-content__wrapper {
        width: 100%;
    }
    .hero-title {
        font-size: 26px;
    }
    .hero-subtitle {
        margin-top: 15px;
        max-width: 100%;
    }
    .hero-cta {
        margin-top: 15px;
    }
    .hero-content {
        padding-bottom: 25px;
        margin-bottom: 25px;
    }
    .hero-image {
        height: 250px;
    }
    .company-slide {
        flex-direction: column-reverse;
    }
    .company-slide__image {
        width: 100%;
        height: 250px;
        margin: 0 0 25px 0;
    }
    .company-slide-title {
        font-size: 22px;
    }
    .company-slide-description {
        font-size: 16px;
        margin: 15px 0;
        max-width: 100%;
    }
    .company-slider-arrows {
        position: initial;
        margin-top: 25px;
    }
    .reasons-title-row {
        margin-bottom: 0;
        flex-direction: column;
    }
    .reasons-title-row__title {
        width: 100%;
        font-size: 24px;
        margin: 0 0 15px 0;
    }
    .reason-item {
        padding-top: 25px;
        margin-top: 25px;
        flex-direction: column;
    }
    .reason-item-image {
        width: 100%;
        height: 250px;
        margin: 0 0 25px 0;
    }
    .reason-item-description__icon{
        display: none;
    }
    .commont-title-h2 {
        font-size: 24px;
        padding-bottom: 25px;
        margin-bottom: 25px;
    }
    .contact-us-wrapper {
        flex-direction: column-reverse;
    }
    .contact-us-map {
        width: 100%;
        height: 250px;
        margin: 0 0 25px 0;
    }
    .contact-us-item:not(:last-of-type){
        margin-bottom: 15px;
    }
    .partners-wrapper{
        overflow: auto;
    }
    .partner {
        width: 150px;
        flex-shrink: 0;
        height: 90px;
    }
    .partner:not(:last-of-type) {
        margin-right: 15px;
    }
    .partners-wrapper::-webkit-scrollbar,
    .partners-wrapper::-webkit-scrollbar-track,
    .partners-wrapper::-webkit-scrollbar-thumb,
    .partners-wrapper::-webkit-scrollbar-thumb:hover {
        display: none;
    }
    .request-body {
        padding: 15px;
    }
    .request-subtitle {
        margin-bottom: 30px;
    }
    .request-form__input_half {
        width: 100%;
    }
    .request-select{
        width: 100%;
    }
    .footer-links{
        display: none;
    }
    .footer-info {
        padding-left: 0;
    }
    .footer-logo {
        position: initial;
        margin-bottom: 25px;
    }
    .footer {
        padding: 30px 0;
    }
    .footer-company-name, .footer-address {
        margin-bottom: 10px;
    }
    .footer-top {
        margin-bottom: 30px;
    }
    .footer-copyright {
        padding-top: 30px;
    }
    .header-nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        background: #fff;
        top: 0;
        bottom: 0;
        right: -270px;
        z-index: 5;
        justify-content: flex-start;
        max-width: 270px;
        padding: 50px 15px 0;
        transition: .3s;
    }
    .header-nav > *:not(:last-child) {
        margin: 0 0 15px 0;
    }
    .header-nav__link {
        font-size: 18px;
        width: max-content;
    }
    .mobile-menu-bg {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.4);
        z-index: 4;
        display: none;
    }
    .page-title__h1 {
        font-size: 26px;
        margin-bottom: 15px;
    }
    .page-title__description {
        font-size: 16px;
    }
    .page-title {
        padding: 50px 0;
    }
    .catalog-wrapper{
        padding: 0;
        flex-direction: column;
    }
    .catalog-settings, .catalog-sorting{
        display: none;
    }
    .catalog-product-info__title {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .catalog-product-info__price {
        font-size: 20px;
    }
    .mobile-ctalog-buttons{
        display: flex;
        margin-bottom: 15px;
        justify-content: space-between;
        width: 100%;
        height: 50px;
    }
    .mobile-ctalog-buttons__btn {
        background: #81C04F;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        width: calc(calc(100% - 15px) / 2);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobile-ctalog-buttons__btn::before{
        content: "";
        margin-right: 10px;
        width: 12px;
        height: 12px;
        flex-shrink: 0;
    }
    .mobile-ctalog-buttons__btn_filter::before{
        background: url("../img/icons/filter.svg") no-repeat center center/contain;
    }
    .mobile-ctalog-buttons__btn_sorting::before{
        background: url("../img/icons/sorting.svg") no-repeat center center/contain;
    }
    .catalog-settings {
        display: block;
        position: fixed;
        z-index: 5;
        top: 0;
        margin: 0;
        bottom: 0;
        overflow: auto;
        padding: 50px 20px 20px;
        width: 300px;
        max-width: 300px;
        right: -100%;
        transition: .5s;
    }
    .catalog-settings::-webkit-scrollbar,
    .catalog-settings::-webkit-scrollbar-track,
    .catalog-settings::-webkit-scrollbar-thumb,
    .catalog-settings::-webkit-scrollbar-thumb:hover {
        display: none;
    }
    .catalog-sorting {
        display: flex;
        position: fixed;
        z-index: 5;
        top: 0;
        margin: 0;
        bottom: 0;
        overflow: hidden;
        padding: 50px 20px 20px;
        width: 300px;
        max-width: 300px;
        right: -100%;
        transition: .5s;
        height: 100%;
        flex-direction: column;
        left: initial;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .catalog-sorting__options {
        flex-direction: column;
        align-items: flex-start;
    }
    .catalog-sorting__title {
        margin-bottom: 20px;
    }
    .catalog-sorting-option:not(:last-of-type) {
        margin: 0 0 15px 0;
    }
    .offer-btn{
        display: none;
    }
    .offers-slider{
        width: 100%;
    }
    .catalog-product-special-price{
        flex-direction: column;
        align-items: flex-start;
    }
    .catalog-product-price-new {
        margin: 0 0 10px 0;
    }
    .career-image {
        margin-bottom: 70px;
        height: 250px;
    }
    .career-offer__title {
        font-size: 26px;
    }
    .career-item{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .career-item:not(:nth-last-child(-n+2)) {
        margin-bottom: 0;
    }
    .career-item:not(:last-of-type){
        margin-bottom: 30px;
    }
    .career-item__p {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.4em;
        max-width: 100%;
    }
    .career-item__img {
        flex-shrink: 0;
        margin: 0 8px 0 0;
    }
    .page-title-wrapper_vacancies .page-title__description {
        width: 100%;
        max-width: 100%;
    }
    .vacancies-wrapper {
        margin-top: 30px;
    }
    .vacancy-title::after {
        width: 25px;
        height: 20px;
        right: 0;
    }
    .vacancy-title {
        font-size: 18px;
        padding-right: 40px;
    }
    .vacancy-body {
        flex-direction: column;
    }
    .vacancy-description {
        width: 100%;
        margin-top: 30px;
    }
    .service-item {
        height: 250px;
        width: 100%;
    }
    .service-item:nth-child(2n + 1) {
        margin-right: 0;
    }
    .article:first-of-type, .article{
        width: 100%;
    }
    .articles-wrapper{
        flex-direction: column;
    }
    .article:not(:nth-child(3n + 4)) {
        margin-right: 0;
    }
    .article:first-of-type {
        height: auto;
    }
    .article:first-of-type .article__bg {
        height: 200px;
    }
    .article:first-of-type .article__body{
        position: initial;
        color: initial;
        padding: 20px;
    }
    .article:first-of-type .article-meta {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5em;
        letter-spacing: -0.02em;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column-reverse;
    }
    .article:first-of-type .article-meta__date {
        color: #BABABA;
        display: inline-block;
        margin: 0 0 5px 0;
    }
    .article:first-of-type .article-title {
        line-height: 1.5em;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .article:first-of-type .article-spoiler {
        display: block;
    }
    .article:first-of-type .article-read {
        color: #111111;
        font-size: 16px;
        border: 0;
        padding: 0;
    }
    .article:first-of-type .article-read .green-animated-arrow {
        width: 22px;
        height: 22px;
        background: #81C04F;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: calc(100% + 15px);
        transform: translate(0, -50%);
        margin: 0;
    }
    .article:first-of-type .article-read .green-animated-arrow::after {
        background: url("../img/icons/arrow-right-btn.svg") no-repeat center center/contain;
    }
    .article-content img {
        width: 100%;
        height: auto;
        margin: 0 0 20px 0;
    }
    .catalog-wrapper_catalog .mobile-ctalog-buttons__btn{
        width: 100%;
    }
    .about {
        padding-top: 70px;
    }
    .about-wrapper-image {
        height: 250px;
    }
    .about-title {
        margin-bottom: 15px;
        font-size: 23px;
    }
    .years-title {
        font-size: 22px;
    }
    .approach-contacts-map {
        height: 250px;
        margin: 0 0 30px 0;
    }
    .approach-contacts-title::before {
        width: 15px;
        height: 22px;
        margin-right: 8px;   
    }
    .approach-contacts-title {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .approach-contacts-schedule-wrap{
        flex-direction: column;
    }
    .approach-contacts-schedule:not(:last-of-type) {
        margin: 0 0 10px 0;
    }
    .approach-contacts-day:not(:last-of-type) {
        margin-bottom: 10px;
    }
    .approach-contacts-day {
        font-size: 16px;
    }
    .approach-contacts-content-btns {
        margin-top: 20px;
    }
    .team-members{
        flex-direction: column;
    }
    .team-member {
        width: 100%;
    }
    .team-member:not(:last-of-type){
        margin-bottom: 20px;
    }
    .team-member__img {
        height: 350px;
    }
    .approach-contacts-content-btns{
        flex-direction: column;
    }
    .approach-contacts-content-btns a{
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .approach-first-btn{
        margin-bottom: 15px !important;
    }
    .contacs-info__block {
        font-size: 16px;
    }
    .contacs-info__block:not(:last-of-type) {
        margin-bottom: 15px;
    }
    .header-hideble-list{
        display: flex;
        position: initial;
        background: transparent;
        padding: 0;
        box-shadow: none;
        padding-left: 18px;
        margin-top: 15px;
    }
}

@media screen and (max-width: 576px){
    .container{
        padding: 0 15px;
    }
    .catalog-item {
        flex-direction: column;
    }
    .catalog-item-image {
        width: 100%;
        height: 250px;
        margin-bottom: 15px;
    }
    .catalog-item-info {
        margin-left: 0;
    }
}